<h2>Update Product</h2>
<div class="container">
  <form (submit)='onUpdate($event, from)' #form='ngForm'>
  
    <div class="form-group col-sm-3">
      <label for="name">Product Name:</label>
        <input placeholder="{{product.name}}"
          class="form-control"
          type="text" 
          name="name" 
          required
          minlength= "3"
          #name='ngModel'
          [(ngModel)]='product.name'>
           
            <div *ngIf='name.errors && (name.dirty || name.touched)' class="alert alert-danger">
    
              <div *ngIf='name.errors.required'>
                Product Name is required
              </div>

              <div *ngIf='name.errors.minlength'>
                  Product Name must be at least {{name.errors.minlength.requiredLength}} characters long.
              </div>
            </div>
    </div>

  <div class="form-group col-sm-3 ">
      <label for="qty">Quantity:</label>
        <input placeholder="{{product.qty}}"
          class="form-control"
          type="number"  
          min=0
          name="qty"
          required  
          #qty='ngModel'
          [(ngModel)]='product.qty'>          
            <div *ngIf='qty.errors && (qty.dirty || qty.touched)' class="alert alert-danger">
    
              <div *ngIf='qty.errors.required'>
                Quantity is required
              </div>

            </div>
    </div>

  <div class="form-group col-sm-3">
      <label for="price">Price:</label>
        <input placeholder="{{product.price | currency}}"
          type="number"
          min="0"
          class="form-control" 
          name="price"
          required
          #price='ngModel'
          [(ngModel)]='product.price'>
                     
          <div *ngIf='price.errors && (price.dirty || price.touched)' class="alert alert-danger">
    
              <div *ngIf='price.errors.required'>
                Product Price is require
              </div>

              <div *ngIf='price.errors.min'>
                  Product must be more then {{name.errors.min}}.
              </div>
            </div>
    </div>

   

    <p *ngIf='form.invalid && form.dirty' class="alert alert-danger" > All fields must be completed before submitting</p>
    <button type="submit" class="btn btn-primary" [disabled]='form.invalid' >Submit</button>
    <!-- <button type="reset" class="btn btn-primary" (click)='onReset()' >Reset</button> -->
  
  </form> 
   <button class="btn btn-primary" (click)="onReset()">Reset</button>
</div>